[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
django-cors-headers = "==3.2.1"
django-filter = "==1.0.1"
djangorestframework = "==3.11.0"
py-moneyed = "==0.8.0"
pyparsing = "==2.2.0"
six = "==1.14.0"
Django = "==3.0.6"
Markdown = "==3.2.2"
django-money = "==1.1"
packaging = "==20.3"
django-admin-charts = "==0.19.0"

[requires]
python_version = "3.7"
