appdirs==1.4.3
Django==1.11.28
django-cors-headers==2.0.2
django-filter==1.0.1
django-money==0.10.2
djangorestframework==3.9.1
Markdown==2.6.8
packaging==16.8
py-moneyed==0.6.0
pyparsing==2.2.0
six==1.10.0
